<p id="notice"><%= notice %></p>

<p>
  <strong>Lead activity:</strong>
  <%= @lead_activity.lead_activity_id %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @lead_activity.activity_type_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @lead_activity.created_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @lead_activity.created_at %>
</p>

<p>
  <strong>Lead notes content:</strong>
  <%= @lead_activity.lead_notes_content %>
</p>

<p>
  <strong>Lead email group:</strong>
  <%= @lead_activity.lead_email_group_id %>
</p>

<p>
  <strong>Lead email order:</strong>
  <%= @lead_activity.lead_email_order %>
</p>

<p>
  <strong>Lead email order:</strong>
  <%= @lead_activity.lead_email_order %>
</p>

<p>
  <strong>Lead email thread number:</strong>
  <%= @lead_activity.lead_email_thread_number %>
</p>

<p>
  <strong>Lead email from:</strong>
  <%= @lead_activity.lead_email_from %>
</p>

<p>
  <strong>Lead email to:</strong>
  <%= @lead_activity.lead_email_to %>
</p>

<p>
  <strong>Lead email title:</strong>
  <%= @lead_activity.lead_email_title %>
</p>

<p>
  <strong>Lead email content:</strong>
  <%= @lead_activity.lead_email_content %>
</p>

<%= link_to 'Edit', edit_lead_activity_path(@lead_activity) %> |
<%= link_to 'Back', lead_activities_path %>
