<p id="notice"><%= notice %></p>

<p>
  <strong>Lead:</strong>
  <%= @lead.lead_id %>
</p>

<p>
  <strong>Lead company name:</strong>
  <%= @lead.lead_company_name %>
</p>

<p>
  <strong>Lead contact name:</strong>
  <%= @lead.lead_contact_name %>
</p>

<p>
  <strong>Assigned by:</strong>
  <%= @lead.assigned_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @lead.created_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @lead.created_at %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
